extends common/layout

block content
    h1.mb-5.text-center Login Page
    hr.mb-5
    .row.justify-content-center
        include common/flash.pug
        .col-md-8.mb-4
            form(action='/auth/login' method='POST')
                .form-group
                    label(for='inputId') ID
                    input#inputId.form-control(type='text' name='userId' required)
                .form-group.mb-5
                    label(for='inputPassword') Password
                    input#inputPassword.form-control(type='password' name='password' required)
                button.btn.btn-lg.btn-block.btn-outline-success(type='submit') Login
        .col-md-8
            .text-right
                a(href="/auth/signup").text-black-50 Create an Account