extends common/layout

block content
    .text-center.mb-5
        h1 Hello #{user && user.id}!
        h2.text-success Today's imgur
    hr.mb-5
    .row.justify-content-center
        .col-md-8.mb-5
            figure.figure
                img.rounded.figure-img.img-fluid(src="https://i.imgur.com/0oSUqwo.png", alt="JavaScript 10 Year Challenge")
                figcaption.figure-caption.text-right JavaScript 10 Year Challenge