doctype
html
    head
        include head.pug
    body
        include navbar.pug
        .container.mt-5
            include flash.pug
            block content
        include script.pug
        block script