nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') TS + Express
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.text-right.mr-3
            li.nav-item(class=(title === 'Main' && 'active'))
                a.nav-link(href='/') Home
            li.nav-item(class=(title === 'Secret' && 'active'))
                a.nav-link(href='/secret') Secret
        if !user
            ul.navbar-nav.ml-auto.text-right.mr-3
                li.nav-item(class=(title === 'Login' && 'active'))
                    a.nav-link(href='/account/login') Login
                li.nav-item(class=(title === 'Register' && 'active'))
                    a.nav-link(href='/account/signup') Register
        else
            ul.navbar-nav.ml-auto.text-right.mr-3
                li.nav-item(class=(title === 'Profile | ' + user.userId && 'active'))
                    a.nav-link.disabled(href='/profile/' + userId )= user.userId
            ul.navbar-nav.text-right.mr-3
                li.nav-item
                    a.nav-link(href='/account/logout') Logout